.advice__list {
    display: flex;
    flex-direction: row;
  }
  
  .advice__title {
    color: #292f36;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 17px;
  }
  
  .advice__subtitle {
    color: #4d5053;
    text-align: center;
  
    font-size: 22px;
    letter-spacing: 0.22px;
    line-height: 1.5;
    margin-bottom: 68px;
  }
  
  .advice__link {
    color: #4d5053;
  
    font-size: 18px;
    letter-spacing: 0.36px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  
  .advice__arrow {  
    stroke: #CDA274;
    fill: none;
  }
  
  .advice__arrow:hover {
    stroke: #5e4e3d;
    fill: none;
  }
  
  .advice__item {
    text-align: center;
    max-width: 400px;
    padding-top: 75px;
    padding-bottom: 70px;
    padding-left: 51px;
    padding-right: 52px;
  }
  
  .advice {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  