.header {
    padding-top: 26px;
    padding-bottom: 18px;

    &__list {
      @extend %list-position;
      gap: 40px;
      margin-left: auto;
    }
    &__link {
      color: #292f36;
      @include text-styles(19px, 1.57, 0.4px);
      &:hover {
        color: #cda274;
        font-size: 19px;
      }
    }
    &__box {
      display: flex;
    }
  }
  