.header {
    padding-top: 26px;
    padding-bottom: 18px;

    &__list {
      @extend %list-position;
      gap: 40px;
      margin-left: auto;
    }
    &__link {
      color: #292f36;
      font-size: 19px;
      line-height: 1.57;
      letter-spacing: 0.4px;
      &:hover {
        color: #cda274;
        font-size: 19px;
      }
    }
    &__box {
      display: flex;
    }
  }
  