.hero {
  padding-top: 188px;
  padding-bottom: 260px;
  background-image: url(../../images/hero-bc.png);
  background-position: center;
  background-repeat: no-repeat;
  &__title {
    color: $title-color;
    font-family: "DM Serif Display";
    @include text-styles(80px, 1.2);
    max-width: 595px;
  }
  &__text {
    color: $text-color;
    @include text-styles(22px);
    margin-top: 19px;
    max-width: 577px;
  }
  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    @include text-styles(18px, 0.72px);
    margin-top: 35px;
    width: 207px;
    height: 71px;
    border-radius: 18px;
    background-color: $title-color;

    animation: heartBeat 6s ease-in-out 4s infinite both;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    fill: transparent;
  }
}
