.numbers {
    padding-top: 140px;
    background-color: #f4f0ec;
    padding-bottom: 140px;
  }
  
  .numbers-list {
    display: flex;
    justify-content: space-between;
  }
  
  .numbers-item {
    /* outline: solid darkgreen; */
    padding-bottom: 14px;
    text-align: center;
    border-right: 1px solid #cda274;
    width: 288px;
  }
  
  .numbers-item:last-child {
    border: none;
  }
  
  .numbers-number {
    color: #cda274;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 85px;
    font-weight: 400;
    line-height: 1.49;
    letter-spacing: 1.7px;
  }
  
  .numbers-text {
    color: #4d5053;
    text-align: center;
  
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
  
    margin-top: 10px;
    padding-bottom: 10px;
  }