.team-container {
    border-radius: 70px;
    background: #f4f0ec;
    padding-top: 103px;
    padding-bottom: 121px;
    padding-left: 51px;
    padding-right: 51px;
  }
  
  .team-box {
    display: flex;
    margin-bottom: 25px;
  }
  
  .team-title {
    color: #292f36;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 45px;
  
    line-height: 58.5px;
    letter-spacing: 0.22px;
    max-width: 479px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 47px;
  }
  
  .team-list {
    @extend %list-position;
    gap: 18px;
  }
  
  .team-item {
    padding-left: 35px;
    padding-right: 45px;
    padding-top: 50px;
    padding-bottom: 45px;
    border-radius: 30px;
    background: #fff;
  }
  
  .team-img {
    width: 77px;
    height: 77px;
    margin-right: 20px;
  }
  
  .team-name {
    color: #292f36;
    font-family: DM Serif Display;
    font-size: 25px;
  
    line-height: 37.5px;
    letter-spacing: 0.22px;
  }
  
  .team-locate {
    color: #4d5053;
  
    font-size: 18px;
  
    line-height: 27px;
    letter-spacing: 0.22px;
  }
  
  .team-text {
    color: #4d5053;
    font-family: "Jost";
    font-size: 20px;
  
    line-height: 30px;
    letter-spacing: 0.22px;
  }